src/soap/server.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="server"
 targetNamespace="http://tempuri.org/server.xsd/server.wsdl"
 xmlns:tns="http://tempuri.org/server.xsd/server.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:camera="http://tempuri.org/camera.xsd"
 xmlns:agent="http://tempuri.org/agent.xsd"
 xmlns:server="http://tempuri.org/server.xsd"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://tempuri.org/camera.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:camera="http://tempuri.org/camera.xsd"
  xmlns:agent="http://tempuri.org/agent.xsd"
  xmlns:server="http://tempuri.org/server.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="uri">
   <sequence>
     <element name="streamURI" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="uuid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
 </schema>

 <schema targetNamespace="http://tempuri.org/agent.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:camera="http://tempuri.org/camera.xsd"
  xmlns:agent="http://tempuri.org/agent.xsd"
  xmlns:server="http://tempuri.org/server.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
 </schema>

 <schema targetNamespace="http://tempuri.org/server.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:camera="http://tempuri.org/camera.xsd"
  xmlns:agent="http://tempuri.org/agent.xsd"
  xmlns:server="http://tempuri.org/server.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
  <!-- operation request element -->
  <element name="getinfo">
   <complexType>
    <sequence>
     <element name="command" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getinfoResponse">
   <complexType>
    <sequence>
     <element name="message" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="setCameraInfo">
   <complexType>
    <sequence>
     <element name="info" type="camera:info" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="setCameraInfoResponse">
   <complexType>
    <sequence>
     <element name="message" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="getinfoRequest">
 <part name="parameters" element="server:getinfo"/>
</message>

<message name="getinfoResponse">
 <part name="parameters" element="server:getinfoResponse"/>
</message>

<message name="setCameraInfoRequest">
 <part name="parameters" element="server:setCameraInfo"/>
</message>

<message name="setCameraInfoResponse">
 <part name="parameters" element="server:setCameraInfoResponse"/>
</message>

<portType name="serverPortType">
 <operation name="getinfo">
  <documentation>Service definition of function server__getinfo</documentation>
  <input message="tns:getinfoRequest"/>
  <output message="tns:getinfoResponse"/>
 </operation>
 <operation name="setCameraInfo">
  <documentation>Service definition of function server__setCameraInfo</documentation>
  <input message="tns:setCameraInfoRequest"/>
  <output message="tns:setCameraInfoResponse"/>
 </operation>
</portType>

<binding name="server" type="tns:serverPortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="getinfo">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="setCameraInfo">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
</binding>

<service name="server">
 <documentation>gSOAP 2.8.0 generated service definition</documentation>
 <port name="server" binding="tns:server">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>
